In [2]:
import pandas as pd

# Load your CSV
df = pd.read_csv("../data/customer_growth_2025-04-24.csv")  # <-- update date if needed
df.head()

  join_month  new_customers
0    1996-07             20
1    1996-08             14
2    1996-09              9
3    1996-10              9
4    1996-11             10

In [4]:
import psycopg2
from db import get_connection

# Reconnect to the DB
conn = get_connection()
cur = conn.cursor()

# Create the table if it doesn't exist
cur.execute("""
CREATE TABLE IF NOT EXISTS monthly_customer_growth (
    join_month VARCHAR(7),
    new_customers INT
);
""")
conn.commit()

# Insert each row from the CSV into the table
for _, row in df.iterrows():
    cur.execute("""
        INSERT INTO monthly_customer_growth (join_month, new_customers)
        VALUES (%s, %s)
        ON CONFLICT DO NOTHING;
    """, (row["join_month"], row["new_customers"]))

conn.commit()
cur.close()
conn.close()

print("✅ Data loaded into PostgreSQL!")

✅ Data loaded into PostgreSQL!

In [6]:
conn = get_connection()
cur = conn.cursor()

cur.execute("SELECT * FROM monthly_customer_growth ORDER BY join_month")
rows = cur.fetchall()
for row in rows:
    print(row)

cur.close()
conn.close()

('1996-07', 20)
('1996-07', 20)
('1996-07', 20)
('1996-07', 20)
('1996-07', 20)
('1996-07', 20)
('1996-08', 14)
('1996-08', 14)
('1996-08', 14)
('1996-08', 14)
('1996-08', 14)
('1996-08', 14)
('1996-09', 9)
('1996-09', 9)
('1996-09', 9)
('1996-09', 9)
('1996-09', 9)
('1996-09', 9)
('1996-10', 9)
('1996-10', 9)
('1996-10', 9)
('1996-10', 9)
('1996-10', 9)
('1996-10', 9)
('1996-11', 10)
('1996-11', 10)
('1996-11', 10)
('1996-11', 10)
('1996-11', 10)
('1996-11', 10)
('1996-12', 5)
('1996-12', 5)
('1996-12', 5)
('1996-12', 5)
('1996-12', 5)
('1996-12', 5)
('1997-01', 5)
('1997-01', 5)
('1997-01', 5)
('1997-01', 5)
('1997-01', 5)
('1997-01', 5)
('1997-02', 2)
('1997-02', 2)
('1997-02', 2)
('1997-02', 2)
('1997-02', 2)
('1997-02', 2)
('1997-03', 1)
('1997-03', 1)
('1997-03', 1)
('1997-03', 1)
('1997-03', 1)
('1997-03', 1)
('1997-04', 4)
('1997-04', 4)
('1997-04', 4)
('1997-04', 4)
('1997-04', 4)
('1997-04', 4)
('1997-05', 2)
('1997-05', 2)
('1997-05', 2)
('1997-05', 2)
('1997-05', 2)
('1997-05', 2)
('1997-06', 2)
('1997-06', 2)
('1997-06', 2)
('1997-06', 2)
('1997-06', 2)
('1997-06', 2)
('1997-07', 1)
('1997-07', 1)
('1997-07', 1)
('1997-07', 1)
('1997-07', 1)
('1997-07', 1)
('1997-08', 2)
('1997-08', 2)
('1997-08', 2)
('1997-08', 2)
('1997-08', 2)
('1997-08', 2)
('1997-09', 1)
('1997-09', 1)
('1997-09', 1)
('1997-09', 1)
('1997-09', 1)
('1997-09', 1)
('1997-11', 1)
('1997-11', 1)
('1997-11', 1)
('1997-11', 1)
('1997-11', 1)
('1997-11', 1)
('1998-01', 1)
('1998-01', 1)
('1998-01', 1)
('1998-01', 1)
('1998-01', 1)
('1998-01', 1)